@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.svg-spinner {
  font-size: inherit;

  svg {
    color: hsl(var(--primary));

    height: 1em;
    width: 1em;
    animation: spin 1s linear infinite;
  }
}

* {
  box-sizing: border-box;
  outline: none !important;

  &:focus-visible {
    outline: none !important;
  }

  scrollbar-width: thin;
  scrollbar-color: hsl(var(--accent-foreground)) hsl(var(--accent));
}
